body {
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: $white-color;
  color: black;
  font-size: 14px;
  scroll-behavior: smooth;
  min-height: 200vh;
}
// All Rest
* {
  @include all-reset;
}
// a Reset
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
// Reset Input
input {
  direction: unset !important;
}

.scroll-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 105%;
  right: 50px;
  font-size: 24px;
  z-index: 99;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: 1s ease;
  border-radius: 50%;
  &.show {
    bottom: 30px;
  }
  a {
    i,
    svg {
      color: green;
    }
  }
}

.landing {
  background-image: url("../img/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  .container {
    padding-top: 230px;
    h1 {
      font-size: 40px;
      line-height: 72px;
      font-weight: 700;
    }
  }
}

.top {
  background: #e6f7f5;
  h2 {
    color: #008979;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 15px;
  }
  .service_title {
    border: 5px solid #008979;
    width: 125px;
    margin-bottom: 12px;
    border-radius: 50%;
    margin-left: 38%;
    padding: 26px;
    font-size: 18px;
    font-weight: bold;
  }
}

.card {
  border-radius: 15px;
  background: #ecebeb;
  position: relative;
  min-height: 300px;
  font-size: 20px;
  font-weight: bold;
  .span {
    background-color: #008979;
    width: 100%;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  ul {
    list-style: none;
    li {
      position: relative;
    }
  }
  .ico {
    color: #008979 !important;
    position: absolute;
    top: 0;
    right: -6px;
  }
  .btn {
    background: #008979;
    width: 50%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    margin: auto;
  }
  .link {
    text-align: center;
    margin: auto;
    i,
    svg {
      font-size: 50px;
      font-weight: bold;
      color: #008979;
    }
  }
}

@media screen and (max-width: 990px) {
  .card .ico {
    color: #008979 !important;
    position: absolute;
    top: 0;
    right: -6px;
  }
}

.parent {
  background-image: url("../img/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    div {
      h2 {
        font-size: 35px;
        line-height: 72px;
        font-weight: 700;
        color: #020e35;
      }
      h4 {
        font-size: 15px;
      }
    }
  }
  .down {
    .service_title {
      border: 5px solid #020e35;
      width: 125px;
      margin-bottom: 12px;
      border-radius: 50%;
      margin-left: 38%;
      padding: 26px;
      font-size: 22px;
      font-weight: bold;
    }
  }
}

.down .card .span {
  background-color: #020e35;
  width: 100%;
  height: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.down .card .ico {
  color: #020e35 !important;
  position: absolute;
  top: 0;
  right: -6px;
}

.down .card .btn {
  background: #020e35;
  width: 50%;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.main-footer {
  position: relative;
  background: #fff;
}

.main-footer .footer-top {
  position: relative;
  padding: 300px 0px 100px 0px;
}

@media only screen and (max-width: 991px) {
  .main-footer .footer-top {
    padding: 100px 0px 70px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .main-footer {
    background: #170a24;
  }
}

#starshine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shine.shine-1 {
  top: 20%;
  left: 0%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.shine.shine-2 {
  right: 0px;
  top: 30%;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.shine {
  display: block;
  position: absolute;
  background-image: url("../img/glitter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden;
  opacity: 0;
  width: 420px;
  height: 420px;
  -webkit-animation: glitter 10s linear 0s infinite normal;
  animation: glitter 10s linear 0s infinite normal;
  text-indent: -9999px;
  z-index: 1;
}

@-webkit-keyframes glitter {
  0% {
    -webkit-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1) rotate(360deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.3) rotate(720deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
}

@keyframes glitter {
  0% {
    -webkit-transform: scale(0.3) rotate(0deg);
    transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.3) rotate(720deg);
    transform: scale(0.3) rotate(720deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.3) rotate(0deg);
    transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
}

@-moz-keyframes glitter {
  0% {
    -moz-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(1) rotate(360deg);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(0.3) rotate(720deg);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
}

.main-footer .bg-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/pattern-6.png");
}
@media only screen and (max-width: 991px) {
  .main-footer .bg-layer {
    display: none;
  }
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  transition-property: all;
}

.main-footer .footer-bottom {
  position: relative;
  background: #020b2a;
  padding: 20px 0px;
}

.socia li a {
  color: #fff;
}
.main-footer .footer-bottom .copyright p {
  position: relative;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin-bottom: 0%;
}

.main-footer .footer-bottom .copyright a {
  color: #ca34a8;
  transition: $main-tra;
  &:hover {
    color: #fff;
  }
}